include includes/header.pug
div(class="content")
    h1(class="title is-1") Fiche d'incident
    div(class="card-container")
        div(class="incident-form box")
            form(action=`/incident/${incident.id}` method="POST" class="is-flex")
                div(class="title-box box")
                    h3(class="title is-3") #{incident.name}
                    input(type="hidden" name="attraction_id" value=`${incident.attraction_id}`)

                h3(class="title is-3") Numéro d'incident
                p #{incident.id}
                h3(class="title is-3") Nature de l'incident
                p #{incident.incident_type}
                input(type="hidden" name="incident_type" value=`${incident.incident_type}`)
                h3(class="title is-3")='Technicien'
                if(!incident.assigned_technician)
                    input(type="text" name="assigned_technician" class="input is-info" placeholder="Jean Michel Apeuprès")
                else
                    input(type="text" name="assigned_technician" class="input is-info" value=`${incident.assigned_technician}`)
                h3(class="title is-3")='Date de résolution'
                if(!incident.solved_date)
                    input(type="date" name="solved_date" class="input is-info" min="2010-01-01")
                else
                    input(type="date" name="solved_date" class="input is-info" min="2010-01-01" value=`${incident.solved_date}`)
                button(type="submit" class="a button is-success is-block") Valider